/* Global Nested Styling */

html,
body {
  font-family: 'Merienda', cursive;
}

.container-fluid {
  height: 90vh;
}

.nav,
.container {
  justify-content: space-around;
}

.nav,
.cont_header {
  background: linear-gradient(
    90deg,
    rgb(252, 215, 222),
    rgb(255, 248, 249),
    rgb(252, 215, 222)
  );
  /* background: linear-gradient(90deg, white, rgb(252, 215, 222), white); */
  /* background: linear-gradient(-90deg, black, rgb(3, 1, 3), black); */
  /* background: linear-gradient(to bottom right, rgb(0, 0, 0), #2b001a); */
  /* background: linear-gradient(90deg, #2b001a, #161616); */
}

.nav,
.container,
.navCont1,
.navCont2,
.cont_text,
.cont_img {
  display: flex;
}

/* Navigation */

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.nav h1 {
  /* color: #f9ebff; */
  color: black;
  padding: 0.3rem;
  font-size: 1.5rem;
}

.nav h4 {
  /* color: #f9ebff; */
  color: black;
  padding: 0.5rem;
}

.navCont1 h4 {
  padding-right: 6rem;
}

.navCont2 h4 {
  padding-left: 6rem;
}

/* Header */

.cont_header {
  height: 90vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.cont_text h1 {
  font-size: 10rem;
  /* color: #f9ebff; */
  color: black;
  align-self: center;
  text-align: center;
}

.cont_text h3 {
  color: whitesmoke;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 15rem;
}

.cont_img {
  align-self: center;
}

.cont_img img {
  width: auto;
  height: 30rem;
}

.cont_text span {
  font-size: 2rem;
}

/* Main */

.body-container {
  background-color: white;
  position: relative;
  z-index: 1;
}
