/* background */

.background_image::after {
  content: '';
  position: fixed;
  background-image: url('../assets/bkg.jpg');
  top: 0;

  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

/* Nav */

.nav_bkg {
  margin-left: 10%;
  width: 80%;
  border-radius: 5em;
  background-color: rgba(254, 227, 255, 0.692);
}

.nav_div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 5rem;
  margin-top: 5rem;
}

.nav_div img {
  height: 8rem;
}

.nav_div h4 {
  font-size: 2rem;
  padding-top: 3rem;
  color: purple;
}
