html,
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Merienda', cursive;
  height: 100vh;
}
.container {
  max-width: 1920px;
  width: auto;
}
.nav {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.container-fluid,
.navigationLeft,
.navigationRight {
  display: flex;
  align-self: center;
  max-width: 1820px;
  width: 100%;
}
.container-fluid .navigationLeft,
.navigationLeft .navigationLeft,
.navigationRight .navigationLeft {
  margin-right: -2rem;
}
.container-fluid .navigationRight,
.navigationLeft .navigationRight,
.navigationRight .navigationRight {
  margin-left: -2rem;
}
.container-fluid h1:hover,
.navigationLeft h1:hover,
.navigationRight h1:hover {
  color: green;
  cursor: pointer;
}
.navigationLeft,
.navigationRight {
  background-color: #ff94c2;
  justify-content: space-around;
  height: 4rem;
  padding-top: 2.3rem;
  border-radius: 30px;
}
.container-fluid {
  margin-top: 6rem;
  justify-content: space-between;
}
.navlogo_img {
  height: 15rem;
  background-color: #ff94c2;
  border-radius: 30px;
  position: relative;
}
.home-content {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}
.home-content .col {
  display: flex;
  flex-direction: column;
}
.home-content .left {
  justify-content: space-around;
  text-align: center;
  width: 50%;
}
.home-content .left p {
  text-align: left;
}
.home-content .right {
  justify-content: center;
  text-align: center;
}
span {
  color: #ff94c2;
}
